.nav {
  padding-top: 32px;

  &-links {
    li {
      a {
        display: block;
        color: $gray-900;
        padding-top: 10px;
        padding-bottom: 10px;

        &:hover {
          background: $gray-400;
        }
      }

      &:first-child {
        a {
          padding-top: 0;
        }
      }
    }

    &-active {
      position: relative;

      a {
        color: $success;
      }

      &:before {
        content: "";
        position: absolute;
        background: $success;
        width: 4px;
        height: 100%;
      }
    }
  }
}

.user-info {
  padding-right: 80px;

  .personal-icon {
    width: 40px;
    height: 40px;
  }
}


header h1 {
  margin-right: 50px;
}

.dropdown-toggle::after {
  display: none;
}

.assignment {
  &-list {
    a {
      padding: 12px;

      &:hover {
        background: $gray-100;
      }
    }

    &-title, &-preview div {
      font-size: 12px;
      line-height: 2;
    }
  }

  &-comment {
    font-size: 12px;
    line-height: 2;
  }
}

.card-header {
  padding-top: 12px;
  padding-bottom: 12px;

  title, time {
    font-size: 12px;
    line-height: 2;
  }
}

.card-body {
  title, time {
    font-size: 12px;
    line-height: 2;
  }

  .personal-icon {
    width: 40px;
    height: 40px;
  }

  p {
    font-size: 14px;
  }

  .content-list {
    list-style: disc;
    padding-left: 28px;
  }
}
